:root {
    --main-color : #ff6551;
    --second-color : #B5B5B5;
    --third-color : #F1EFEF;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Start Main Page */
.landing {
    background-image: url(../img/main-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    padding-top: 20px;
    margin-bottom: 40px;
}
.landing a{
    text-decoration: none;
    color: inherit;
}
.landing .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(0 0 0 / 60%); */
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.942), rgba(255, 101, 81, 0.141));
}
.landing .container {
    position: relative;
    z-index: 1;
}
.landing header {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.landing header img {
    width: 10%;
}
@media (max-width:676px) {
    .landing header img {
        width: 25%;
    }
}
.landing header nav button{
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}
main {
    position: relative;
}
main .main-text {
    margin-top: 150px;
    width: 40%;
}
main .main-text h1{
    margin: 30px 0px;
    font-size: 40px;
    font-weight: bold;
}
main .main-text p{
    font-weight: bold;
    margin: 30px 0px;
    color: gray;
}
main .main-text button{
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 15px 50px;
    border-radius: 4px;
}
@media (max-width:767px){
    main .main-text {
        text-align: center;
        width: 100%;
    }
}
/* End Main Page */


/*Header*/
header .header__container div .EnglishTest__Logo{
    width: 90%;
    
}

.signup__container{
    position: relative;
    right: 5%;
    margin-top: 25px;
    margin-bottom: -6%;
}
.signup__container .signup__button{
    width: 5%;
    min-width: 50px;
    font-size: 0.7em;
    height: 30px;
    background-color: var(--main-color);
    border: 0;
    color: white;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/*Header*/
/* Start signin Page */
.signin-btn{
    background-color: var(--main-color);
    border: none;
}

.signin-btn:hover{
    background-color: var(--second-color);

}

.signin-btn:click{
    background-color: var(--second-color);

}
/* End signin Page */

/* Start signUp Page */
/* End signUP Page */

/* Start E-test Page */

.timer__container .timer{
    color: var(--main-color);
    font-weight: bold;
    border: 1px solid var(--main-color);
    margin-top: -1%;
}
.test__title h2{
    color: var(--main-color);

}
.question__container{
    background-color: var(--main-color);
}
.options__container{
    border: 1px solid var(--second-color);
    margin-top: -30px;
    display: flex;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
}
.question__container h3{
    font-size: medium;
}

.option__label{
    width: 100%;
    background-color: var(--third-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
}
.options .option input:checked~.option__label{
    background-color: var(--main-color);
    color: white;
    
}
.options .option input{
    appearance: none;
}
.nav__buttons button{
    background: var(--main-color);
    color: white;
    max-height: 40px;
    
}

.start__button{
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 0;
    width: 150px;
    height: 50px;
}
.return__button{
    background-color: var(--main-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 0;
    width: 150px;
    height: 50px;
}
a .return__button{
    text-decoration: none;
    color: white;
    
}
.start__button:hover{
    background-color: var(--second-color);
}


.question__screen{
    background-color: var(--third-color);
    min-width: 25px;
    height: 25px;
    padding-top: 4px;
    border-radius: 50%;
    font-weight: bold;
    align-self: center;
    text-align: center;
    font-size: small;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.previous__button:hover{
    background-color: var(--main-color);
    color: white;
}

.next__button:hover{
    background-color: var(--main-color);
    color: white;
}
.instruction li{
    font-size: medium;
    color: white;
    margin-top: 20px;
}
.instruction{
    margin:0 auto;
}

.instructions__container{
    display: flex;
    justify-content: center;
}
@media screen and (max-width:576px) {
.horizontal__line{
    display: none;
    border: 1px solid;
}
header .header__container div{
    width: 150px;
    margin: 0 auto;
}

.test__title h1{
    margin-top: 10%;
}
.signup__container .signup__button{
    min-width: 35px;
}
.options__container{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.questions__nav{
    order: 1;
    width: 80%;
    margin: 0 auto;
}

.questions__nav{
    width: 100%;
    margin: 0 auto;
}
.nav__buttons{
    width: 100%;   
}
.option__label{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 85%;
}


}

/* End E-test Page */

/* Start Math_test Page */
/* End Math-test Page */

/* Start student-form Page */
/* End student-form Page */

/* Start student  Dashboard Page */
body > header > div > button > a {
    color: white;
    text-decoration: none;
}
body > .titles {
    margin-top: 3%;
    margin-left: 11%;
}

body > h3 {
    margin-top: 3%;
    margin-left: 11%;
    color:var(--main-color);
}

body > div > #description{
    color : var(--second-color);
}

body > div > div > div > img{
    width: 38%;
    height: 37%;
}

body > div > div > div > .card_description{
    color : var(--second-color);
    font-size: small;
}

body > div > div > div > hr{
    width: 20%;
    border-top: 4px solid;
    border-color: var(--main-color);
}

body > #submit{
    cursor: default;
    background-color: var(--second-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 0%;
    margin-left: 47%;
    margin-bottom: 5%;
}

/* each card */
body > .three_cards > div {
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   cursor: pointer;
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
   body > .three_cards{
    display:flex;
    gap: 5%;
    margin-right: 8%;
    margin-left: 8%;
   }

/* form image and done image */
   body > .three_cards > div > div > img {
    height:min-content;
   }
  
   body > #submit{
    margin-left:43%
   }

  }
  /* end of tablet */

  /* Mobile  */
@media (max-width: 767px) {
    body > .three_cards{
        display:flex; 
        flex-direction: column;
        gap: 10vh;
        align-items: center;
       }

       /* body > .three_cards > div{
        margin-bottom: 6%;
       } */

       body > .titles {
        margin-top: 11%;
        margin-left: 23%;
        margin-right: 23%;
       }

       body > h3{
        margin-top: 9%;
        margin-left: 23%;
       }

       body > #submit{
        margin-left: 39%;
       }
}
/* end of Mobile */
/* End student  Dashboard Page */

/*Start Footer*/
body > footer > section > div > div > div > p > i {
    color: var(--main-color);
}

body > footer > section > div > div > div > p > a {
    text-decoration: none;
}

body > footer > section > div > div > div > p > a {
    text-decoration: none;
    color: inherit;
}
body > footer > section > div > div > div > p > a > i {
    text-decoration: none;
    color: var(--main-color);
}

body > footer > section > div > div > div > i {
    color: var(--main-color);
}

body > footer > section > div > div > div > a{
    color: var(--main-color);
}

body> footer > div{
    background-color: var(--third-color)
}

body > footer > hr{
    background-color: var(--third-color)
}
/*end Footer*/

/* Start result  Dashboard Page */
/* End result  Dashboard Page */
